*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  width: 100vw;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color:#efefef;
  display: flex;
  overflow-x: hidden;
  /*overflow-y: auto;
 */
}

#root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 } 

 .App{
    width: 100%;  
    max-width: 800px; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    box-shadow: opx opx 15px gray;
    flex-wrap: wrap;
 }

 .Header ,.Footer{
  width: 100%;
  background-color: #20d164;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1rem;
 }

 .Header h1{
  font-size: 2 rem;
 }

 .Footer{
  padding: 1 rem;
  display: grid;
  place-content: center;
 }

 .Nav{
  width: 100%;
  height: 75px;
  background-color: #333;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  }

  .editbutton{
  color:black;
  margin: 10px;
  font-size: 15px;
  padding: 8px;
  font:bold;
}

.deletebutton{
  color:red;
  margin: 10px;
  font-size: 15px;
  padding: 8px;
  font:bold;
}


 .searchForm{
  width: 60%;
  padding: 1rem 0 0 0.75rem;
  margin-right: 30px;
  display: flex;
  align-items: center;
 }

 .searchForm input[type="text"]{
  width: 100%;
  min-height: 40px;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-right: 10px;
 
 }

 .searchForm label{
  position: absolute;
  left: -999999px;
 }

 .Nav ul{
  color: #fff;
  display: flex;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  
 }

.Nav li{
  padding: 1rem;
}

.Nav li:hover,.Nav li:focus,.Nav li:hover a,.Nav li:focus a{
  background-color: #eee;
  color: #333;
  cursor: pointer;

}

.Nav li a{
  color: #fff;
 text-decoration: none;
}

.Home,.NewPost,.PostPage,.About,.Missing{
  width: 100%;
  padding: 1rem;
  flex-grow: 1;
  background-color: #fff;
  overflow-y:auto;
}

.post{
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}

 .Home .post a {
  text-decoration: none;
}

.NewPost{
  width: 100%;
  
}

.newPostForm{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.newPostForm input[type='text']{
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  
}

.newPostForm button[type="submit"]{
  width: 100%;
  height: 40px;
}

@media screen and (max-width:768px){
  body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

  .Header ,.Footer{
   width: 100%;
   height: 40px;
  }
.Nav{
  width: 100%;
  height: auto;
  padding: 5px;
}

.searchForm{
 min-width:55%;
  padding: 5px;
  margin-right: 15px;
}
.searchForm input[type="text"]{
  width: 100%;
  min-height: 30px;
  font-size: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-right: 10px;
}

.Nav ul{
  min-width: 45%;
  color: #fff;
  display: flex;
  list-style-type: none;
  font-size: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
}

@media screen and (max-width: 379px) {
  .Header{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding: 3px;
  }
  .Nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 0.25rem;
  }

  .searchForm {
    width: 100%;
    margin: 0;
    padding: 0.25rem;
  }

  .searchForm input[type="text"] {
    font-size: 0.7rem;
    padding: 0.3rem;
  }

  .Nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding-left: 0;
    justify-content: center;

  }

  .Nav li {
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #444;
    justify-content: center;

  }

  .Nav li a {
    width: 100%;
    display: inline-block;
  }
}
